body,html{
    height: 100%;
    margin: 0;
    background: #333; 
}

.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
    .type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}

.chat{
    margin-top: auto;
    margin-bottom: auto;
}

.card{
    height: 700px;
    border-radius: 15px !important;
    background-color: rgba(0,0,0,0.4) !important;
}

.smaller{
    height: 700px;
}

.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body{
    overflow-y: auto;
}

.card-header{
    border-radius: 15px 15px 0 0 !important;
    background-color: rgba(0,0,0,0.3);
    border-bottom: 0 !important;
    display: flex;
    align-items: center;
}

.card-footer{
    height: auto;
    background-color: rgba(0,0,0,0.3);
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
    display: flex;
    justify-content: space-evenly;
}

.container{
    align-content: center;
}

.search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
}
.search:focus{
     box-shadow:none !important;
   outline:0px !important;
}

.search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts{
    list-style: none;
    padding: 0;
}

.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.active{
    background-color: rgba(0,0,0,0.3);
}

.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}

.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}

.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg{
    height: 40px;
    width: 40px;
}

.online_icon{
    position: absolute;
    height: 15px;
    width:15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border:1.5px solid white;
}

.offline{
    background-color: #c23616 !important;
}

.user_info{
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    margin-left: 15px;
}

.user_info span{
    font-size: 20px;
    color: white;
}

.user_info p{
    font-size: 10px;
    color: rgba(255,255,255,0.6);
}

.msg_cotainer{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}

.msg_cotainer_send{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #6f66e0;
    min-width: 17.5%;
    padding: 10px;
    position: relative;
}

.msg_time{
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}

.msg_time_send{
    position: absolute;
    right:0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}

.msg_head{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.top_button{
    cursor: pointer;
    background-color: #333;
    color: white;
    width: auto;
    outline: 0;
    border-radius: 20px;
    display:inline-block;
    font-weight:400;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
}

.top_button:hover, .top_button:focus, .top_button:active{
    background-color: #555;
    color: white;
}

.choices{
    cursor: pointer;
    outline: 0;
    color: #FFFFFF;
    height: 100%;
    width:100%;
    border-radius: 30px; 
    border: 1px solid #6f66e0;
    background-color: #6f66e0; 
    border-color: #6f66e0;
}

.choices:hover, .b:hover{
    color: #FFFFFF;
    background-color: #645cca;
    border-color: #645cca;
}

.choices:focus, .b:focus{
    box-shadow:0 0 0 3px rgba(112,102,224,.5);
    outline: 0;
    color: #FFFFFF;
    background-color: #645cca;
    border-color: #645cca;
}

.choices:active, .b:active {
    outline: 0;
    border-style: none;
}

@media(max-width: 576px){
    .contacts_card{
        margin-bottom: 15px !important;
    }
}

.b{
    outline: 0;
    display:inline-block;
    font-weight:400;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    border:1px solid transparent;
    padding:.375rem .75rem;
    font-size:1rem;
    line-height:1.5;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}
  
.modal-content {
    background-color: #808080;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 15px;
    width: 60%;
    color: #FFFFFF;
}

.modal_inner_heading{
    text-align: center;
    width: 100%;
}

.modal_inner_description{
    text-align: left;
    width: 100%;
}

.close {
    width: 20px;
    outline: 0;
    border: 0;
    color: #F72F35;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: #F72F00;
    text-decoration: none;
    cursor: pointer;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.box {
    display: block;
  }
  
.box:nth-child(2n+1) {
    clear: left;
}